@media screen and (min-width: 768px) and (max-width: 960.98px){
    body {
        font-size: 1.2rem;
    }
    #_one:checked ~ #text1::before {
        content: "Ready to new RS-School week!";
        font-size: 1.2rem;
        color: white;
    }
    #_two:checked ~ #text2::before {
        content: "Open shedule";
        font-size: 1.2rem;
        color: white;
    }
    #_three:checked ~ #text3::before {
        content: "Start a task";
        font-size: 1.2rem;
        color: white;
    }
    #_four:checked ~ #text4::before {
        content: "Struggling with JS";
        font-size: 1.2rem;
        color: white;
    }
    #_five:checked ~ #text5::before {
        content: "Face Student1 score";
        font-size: 1.2rem;
        color: white;
    }
}
@media screen and (max-width: 767.98px) {
    body {
        font-size: 0.8rem;
    }
    #_one:checked ~ #text1::before {
        content: "Ready to new RS-School week!";
        font-size: 1rem;
        color: white;
    }
    #_two:checked ~ #text2::before {
        content: "Open shedule";
        font-size: 1rem;
        color: white;
    }
    #_three:checked ~ #text3::before {
        content: "Start a task";
        font-size: 1rem;
        color: white;
    }
    #_four:checked ~ #text4::before {
        content: "Struggling with JS";
        font-size: 1rem;
        color: white;
    }
    #_five:checked ~ #text5::before {
        content: "Face Student1 score";
        font-size: 1rem;
        color: white;
    }
}